<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Screen</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="game">
      <div id="dino"></div>
      <div id="cactus"></div>
    </div>
    <script src="../static/scripts.js"></script>
    <script>window.location.replace('/processing');</script>

    <div>Loading... Please wait.</div>
  </body>
</html>
  